@{
    ViewBag.Title = "Home Page";
}

<h2>Customer</h2>
<hr/>
<div class="container">
    <div id="div"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="~/Scripts/CustomerList.js" type="text/babel">
</script>

